section {

    margin: 20px;
    text-align: center;
    min-height: 300px;
    background-color: wheat;

    article {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    #nameDiv {
        display: flex;
        justify-content: space-around;
        color: blue;
    }
}