#buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    button {
        margin: 10px;
        border-radius: 8px;
        height: 30px;
    }

    .active {
        font-weight: bold;
    }

    .disabled {
        background-color: black;
        color: white;
        border: black;
    }
}