<section id="buttons">
    <div *ngFor="let type of bodiesTypes">
        <button (click)="selectType(type)"
            [ngClass]="{'active': selectedType===type, 'disabled': !(selectedType===type)}">
            {{ type }}
        </button>
    </div>

    <div *ngFor="let planet of AllBodies">
        <button (click)="planetName(planet.name)"
            [ngClass]="{'active': selectedPlanet===planet.name, 'disabled': !(selectedPlanet===planet.name)}">
            {{ planet.name }} ({{ planet?.moons?.length }})
        </button>
    </div>
</section>