header {
    width: 100%;
    height: 150px;
    background: url('../../../assets/bannerHeader.png');
    background-size: cover;
    background-position: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    p {
        color: rgba(255, 255, 255, 0.5);
    }


    #titleContainer {
        display: flex;
        flex-direction: column;
        width: 80%;
        height: 100%;
        justify-content: space-around;
        align-items: center;
    }

    #utilityContainer {
        margin-top: 10px;
        width: 20%;

    }


    #logo {
        color: blueviolet;
        text-align: end;
        font-weight: bolder;
        width: 190px;
        border-radius: 20px;
        padding: 10px 10px;
        box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
        background: url(../../../assets/logo.png);
        background-color: black;
        background-size: contain;
        background-repeat: no-repeat;
    }
}