form {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    border-radius: 40px;

    height: 500px;
    width: 100vh;
    background-color: grey;

    h2 {
        font-weight: bold;
        font-size: 1.5em;
        width: 100%;
    }

    #identity {
        width: 100%;
        display: flex;
        justify-content: space-around;
    }

    #message {
        display: flex;
        align-items: center;
    }

    .errorMessage {
        color: red;
    }
}