#now {
    display: flex;
    flex-direction: column;
    align-items: center;

    #date {
        color: rgba(255, 255, 255, 0.5);
    }

    #time {
        font-family: 'Silkscreen', sans-serif;

        color: red;
        font-size: 2em;
        background-color: black;
        padding: 10px 20px;
        border-radius: 50px;
    }
}