<section>
    <article *ngIf="selectedBody">
        <table id="nameDiv">
            <!-- <caption>
                Tableau de {{selectedBody.name}}
            </caption> -->
            <thead>
                <tr>
                    <th colspan="4">Nom : {{selectedBody.name}}</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">Noms :</th>
                    <td>
                        Anglais : <strong>{{selectedBody.englishName}}</strong>
                    </td>
                    <td *ngIf="selectedBody.alternativeName">
                        Alternatif : <strong>{{selectedBody.alternativeName}}</strong>
                    </td>
                    <td>
                        Id : <strong>{{selectedBody.id}}</strong>
                    </td>
                </tr>
                <tr>
                    <th scope="row">Données :</th>

                    <td *ngIf="selectedBody.discoveryDate">
                        Découverte le :<br />
                        <strong>{{selectedBody.discoveryDate}}</strong>
                    </td>
                    <td *ngIf="selectedBody.discoveryDate">
                        par :<br />
                        <strong>{{selectedBody.discoveredBy}}</strong>
                    </td>
                    <td>
                        Type :<br /> <strong>{{selectedBody.bodyType}}</strong>
                    </td>
                </tr>
            </tbody>
        </table>

        <p>
            <===extrait du code source===>
        </p>
        <div id="code">
            <p>{{selectedBody | json}}</p>
        </div>

    </article>
</section>