#main-content {
    display: flex;
    flex-direction: row;
    height: 100vh;

    #sideBar {
        width: 30%;
    }

    main {
        width: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: url(../assets/lune.png) 10 10, pointer;
        height: 100%;

        app-header,
        app-body-selection,
        app-selected-body-infos {
            width: 100%;
        }


    }
}