<div id="main-content">
    <section id="sideBar">
        <app-side-bar [selectedPlanet]="selectedPlanet" [selectedPlanetBodies]="selectedPlanetBodies" [today]="today"
            (getBodyInfo)="getBodyInfo($event)" />

    </section>

    <main>
        <app-header (resetMethod)="fonctionReset()" />
        <app-search />
        <app-planets (getPlanetsByName)="getPlanetBodies($event)" (getPlanetName)="usePlanetName($event)" />
        <app-selected-body-infos [selectedBody]="selectedBody" />
    </main>
</div>