<div id="main-content">

    <section id="sideBar">
        <app-side-bar [selectedPlanet]="selectedPlanet" [selectedPlanetBodies]="selectedBodiesFiltered" [today]="today"
            (getBodyInfo)="getBodyInfo($event)" />
    </section>

    <main>
        <app-header (resetMethod)="fonctionReset()" />

        <app-body-selection (getPlanetsByName)="getPlanetBodies($event)" (getPlanetName)="usePlanetName($event)" />
        <app-search (searchEmitter)="updateList($event)" />

        <app-selected-body-infos [selectedBody]="selectedBody" />
    </main>

</div>