#types {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    button {
        margin: 10px;
        border-radius: 8px;
        height: 30px;
    }
}

#bodiesOfSelectedType {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-height: 250px;
    overflow-y: scroll;
    width: 80%;
    margin: auto;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    border: 1px solid #ddd;
    background-color: antiquewhite;

    .buttonsList {
        margin: 10px;

        button {
            width: 20vh;
            height: 100%;
            padding: 0;
        }
    }
}

.disabled {
    background-color: black;
    color: white;
    border: black;
}

.active {
    font-weight: bold;
}