#types {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    button {
        border-radius: 8px;
        height: 30px;
    }

    .disabled {
        background-color: black;
        color: white;
        border: black;
    }

    .active {
        font-weight: bold;
    }
}

#bodiesOfSelectedType {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-height: 250px;
    overflow-y: scroll;
    width: 80%;
    margin: auto;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    border: 1px solid #ddd;
    background-color: grey;

    scrollbar-width: thin;
    scrollbar-color: grey #f1f1f1;

    &::-webkit-scrollbar {
        width: 5px;

        &-thumb {
            min-height: 80px;
            background-color: transparent;
            border-radius: 5px;
            border: 2px solid #1e1e1e;

            &:hover {
                background-color: #1e1e1e;
            }
        }

        &-track {
            background-color: #f1f1f1;

            &:hover {
                background-color: #eaeaea;
            }
        }
    }

    .disabled {
        background-color: black;
        color: white;
        border: black;
    }

    .active {
        font-weight: bold;
    }

    button {
        width: 20vh;
        height: 100%;
        padding: 0;
    }
}

.buttonsList {
    margin: 10px;
}